{% load static %}
<!DOCTYPE html>
<html>

  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  </head>

  <body>

    <div class="login-container">

      <form method="post">

        <img src="{% static 'login/Deutsche_Rentenversicherung_Bund_logo.svg.png' %}" alt="DRVBUND">
        <h3 class="barlow-semibold"><span style="color: #6b85a6;">Ausbildungstracker</span></h3>
        {% csrf_token %}
        <input type="text" name="username" placeholder="Benutzername" size="50">
        <input type="password" name="password" placeholder="Passwort" size="50">
        <button type="submit">Anmelden</button>
        {% if error %}<p>{{ error }}</p>{% endif %}

      </form>

    </div>

  </body>

</html>
